.main_div
{
  padding-top: 2rem;
 margin: auto;
 margin-top:8rem;
 background-color: #f2f2f2;
}
.noteadd
{
    margin-left:1rem;
    width:80%;
    border: none;
    appearance: none;
    background-color:#f2f2f2 ;
    outline:none;
}
.btnadd
{outline:none;
position: absolute;
right: 10%;
padding:10px;
    background-color: white;
    border-radius:50%;
    
}
.itemadd
{
    background-color: #f2f2f2;
 font-weight: bold;
 padding:3rem;
 width:fit-content;
 height:50px;
 
 

}
/*.todo_style
{
    /*display:flex;
    flex-wrap: wrap;
    flex-direction: row;

   
}*/
/*@media (max-width: 991px)
{
    .main_div
    {
      padding-top: 2rem;
     margin: auto;
     width: 30%;
     margin-top:8rem;
     
    }
}*/